{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}

	{% for message in app.flashes('trick-success') %}
		<div class="notice notice-success alert fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">×</span>
            </button>
            <strong>Thanks!</strong>
           	<br>
           	{{ message }}
        </div>
	{% endfor %}
	{% for message in app.flashes('trick-delete') %}
		<div class="notice notice-danger alert fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">×</span>
            </button>
            <strong>It's your choice ...</strong>
           	<br>
           	{{ message }}
        </div>
	{% endfor %}
	
	<header class="header">
		<div class="down-arrow">
			<img src="{{ asset('img/arrow.png') }}" alt="down-arrow" class="arrow">
		</div>
	</header>

	<div class="container">
		<div class="tricks d-flex row">
			{% for trick in tricks %}
				<div class="trick col-6 col-md-4 col-lg-3">
					<div class="card">
						{% for thumbnail in trick.tricksImages %}
							<div class="thumbnail" style="background-image: url({{ asset('img/tricks/') ~ thumbnail.filename }})"></div>
						{% endfor %}
						<div class="card-body d-flex justify-content-around">
		    				<h5 class="card-title"><a href="{{ path('tricks.details', {id: trick.id, slug: trick.slug}) }}">{{ trick.name }}</a></h5>
						    <div class="icons">
		  						<a href="#"><i class="fad fa-pencil-alt fa-lg"></i></a>
						    	<form method="POST" action="{{ path('tricks.delete', {id: trick.id}) }}" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this trick ?')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
									<button class="btn"><i class="fad fa-trash-alt fa-lg"></i></button>
								</form>
		  					</div>
		  				</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<button class="btn btn-light col-10 col-md-3" id="btn-loadmore"><i class="fad fa-spinner fa-lg"></i> Load more</button>
	</div>



	

{% endblock %}